#landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    list-style: none;
    margin: none;
    .nav-element {
      font-size: 1rem;
      text-align: center;
      font-variation-settings: "wght" 400, "CONT" 400;
      transition: font-variation-settings 300ms;
      &:nth-child(1) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(2) {
        grid-area: 1 / 4 / 2 / 5;
      }
      &:nth-child(3) {
        grid-area: 1 / 5 / 2 / 6;
      }
      &:hover {
        font-variation-settings: "wght" 900, "CONT" 900;
      }
    }
  }
  .hero {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    &-presentation {
      padding-left: 10vw;
      font-size: 1.5rem;
      font-variation-settings: 'CONT' 700, 'wght' 300;
      margin-bottom: 0;
    }
    &-name {
      padding-left: 15vw;
      font-size: 5rem;
      margin: 0;
      animation: changeFont 3.5s infinite ease-in-out;
      @for $line from 1 through 4 {
        &:nth-child(#{$line}) {
          animation-delay: #{$line * 0.3s};
        }
      }
    }
    &-description {
      padding-left: 15vw;
      margin-top: 1vh;
    }
  }
  .scroll-svg {
    position: relative;
    margin: 4rem auto;
    &::before {
      content: '';
      position: absolute;
      width: 0.1rem;
      height: 3rem;
      background-color: black;
      border-radius: 50%;
      top: 3rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      background-color: black;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: callToScroll 3s infinite ease-in-out;
    }
  }
}

@keyframes changeFont {
  0% {
    font-variation-settings: "wght" 100, 'CONT' 100;
  }

  50% {
    font-variation-settings: "wght" 900, 'CONT' 1000;
  }

  100% {
    font-variation-settings: "wght" 100, 'CONT' 100;
  }
}

@keyframes callToScroll {
  0% {
    top: 1.5rem;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 4.5rem;
  }
}