@font-face {
  font-family: "KyivSans";
  src: url("../../../public/fonts/KyivTypeSans.woff2") format("woff2");
  font-weight: 0 1000;
  font-display: swap;
}

.title {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  h1 {
    font-family: "KyivSans";
    span {
      font-variation-settings: "wght" 500, "CONT" 500, "MIDL" -1000;
      transition: font-variation-settings 200ms;
      margin: 5px;
      &:hover {
        font-variation-settings: "wght" 1000, "CONT" 1000, "MIDL" 0;
      }
    }
  }
}
