.noise {
  pointer-events: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: transparent url("../../../../public/assets/Noise.png") 0 0;
  background-size: 320px 320px;
  mix-blend-mode: luminosity;
}
